@import url("https://fonts.googleapis.com/css?family=Calibri");

* {
  font-family: "Calibri", sans-serif;
  color: #141c3a;
}

body {
  padding-bottom: 2em;
  font-size: 20px;
}

.main {
  margin: 0 auto;
  width: 600px;
}

.header .name {
  font-size: 5em;
  margin: 0.1em 0 0.1em;
  display: inline-block;
}

.profile-links {
  margin-left: 1em;
}

.profile-links img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-links a {
  display: inline-block;
}

.role {
  margin-top: 0;
}

.description p {
  line-height: 1.5;
  text-align: justify;
}

ul.technologies {
  padding-left: 0;
}

.technologies li {
  display: inline-block;
}

.technologies img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

img .small {
  width: auto;
}

.contact {
  font-size: 0.7em;
}

.contact :hover {
  color: #205d86;
}

.dark-mode-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1em;
}

.dark-mode-container button {
  padding: 0;
  cursor: pointer;
}

.dark-mode-toggle img {
  width: 40px;
  display: flex;
}
